log = "logs/export.log"

[command.export]
weights = "data/linear_wps_1.weights"
output = "data/linear_wps_weights.rs"
features = "WPS"
value_scale = 1000

[command.export.model.linear]
# doesn't matter
learning_rate = 0
weight_decay = 0
