log = "logs/learn.log"

[command.learn]
self_play_data = "data/self_play.cbor"
# load_weights = "data/linear_wps_0.weights"
save_weights = "data/linear_wps_test.weights"
input_value_scale = 1000
features = "WPS"
epochs = 2
chunk_size = 4194304
batch_size = 8192
outcome_weight = 1
log_period_seconds = 60

[command.learn.model.linear]
learning_rate = 1e-3
