
log = "logs/learn.log"

[[command]]
[command.learn]
save_weights = "data/nnue.weights"
learning_rate = 1e-3
epochs = 4
log_period_seconds = 60

[command.learn.dataset]
file = "data/self_play_nnue.cbor"
features = "WPS"
value_scale = 1000
chunk_size = 4194304
batch_size = 8192
outcome_weight = 1.0

[command.learn.model.nnue]
max_embedding = 1
embedding_size = 128
hidden_sizes = [8, 32]
hidden_weight_bits = 6
