log = "logs/learn.log"

[command.learn]
self_play_data = "data/self_play_wps_1.cbor"
load_weights = "data/linear_wps_0.weights"
save_weights = "data/linear_wps_1.weights"
input_value_scale = 1000
features = "WPS"
epochs = 3
chunk_size = 4194304
batch_size = 8192
outcome_weight = 0.25
log_period_seconds = 60

[command.learn.model.linear]
learning_rate = 1e-3
weight_decay = 1e-5
