log = "logs/learn.log"

[[command]]
type = "learn"
save_weights = "data/nnue.weights"
learning_rate = 1e-3
epochs = 10
log_period_seconds = 60

[command.dataset]
file = "data/train.data"
features = "WPS"
chunk_size = 4194304
batch_size = 8192
outcome_weight = 1.0

#[command.model.linear.learn]
#max_weight = 3.0

[command.model.nnue.config]
embedding_size = 64
hidden_sizes = []
hidden_weight_bits = 6
value_scale = 10000

[command.model.nnue.learn]
max_embedding = 1
