log = "logs/learn.log"

[command.learn]
self_play_data = "data/self_play.cbor"
input_value_scale = 100
features = "PS"
model = "linear"
learning_rate = 1e-3
epochs = 100
chunk_size = 131072
batch_size = 8192
outcome_weight = 1.0
