log = "logs/learn.log"

[command.learn]
self_play_data = "data/self_play.cbor"
input_value_scale = 100
features = "PS"
model = "linear"
learning_rate = 1e-2
epochs = 10
chunk_size = 65536
batch_size = 1024
outcome_weight = 1.0
