log = "logs/learn.log"

[command.learn]
self_play_data = "data/self_play.cbor"
input_value_scale = 100
features = "PS"
model = "linear"
learning_rate = 1e-3
epochs = 20
chunk_size = 1048576
batch_size = 65536
outcome_weight = 1.0
