
log = "logs/learn.log"

[[command]]
[command.learn]
self_play_data = "data/self_play_nnue.cbor"
save_weights = "data/nnue.weights"
input_value_scale = 1000
features = "WPS"
epochs = 30
chunk_size = 4194304
batch_size = 8192
outcome_weight = 1.0
log_period_seconds = 60

[command.learn.model.nnue]
max_embedding = 1
learning_rate = 1e-4
embedding_size = 128
hidden_sizes = [16, 16]
hidden_weight_bits = 6
