log = "logs/self_play.log"

[[command]]
type = "self_play"
output = "data/test.data"
num_cpus = 30
num_games = 250000
batch_size = 10000
ttable_size_mb = 16
pvtable_size_mb = 2
depth = 3
extra_depth = 3
temperature = 30
temperature_cutoff = 90
features = "WPS"
