log = "logs/self_play.log"

[[command]]
type = "self_play"
output = "data/self_play_test.cbor"
num_cpus = 8
num_games = 100000
batch_size = 10000
ttable_size_mb = 16
pvtable_size_mb = 2
depth = 3
extra_depth = 3
temperature = 30
temperature_cutoff = 90
features = "WPS"
